{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-index" style="background-image: url({% static 'images/index-bg.png' %});">
    <div class="container" style="height: 100%; align-content: center;">
        <div class="d-flex justify-content-center h-100">
            <div class="row">
                <div class="d-none d-md-block col-lg-8 col-md-8 align-self-center text pr-5">
                    <h1>Market Place</h1>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, assumenda! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque ratione neque a ea fugit autem quaerat eveniet, placeat perspiciatis.</h3>
                </div>
                <div class="col-lg-4 col-md-4 align-self-center text-center">
                    <div class="card">
                        <article class="card-body">
                            <h4 class="card-title text-center text-color pb-4 pt-4">Sign In</h4>
                            <form class="form-signin" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="mobilenumber" id="inputMobilenumber" class="form-control" placeholder="Mobile Number" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                </div>
                                {% for field in login_form %}
                                    <p>
                                        {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                {% if login_form.non_field_errors %}
                                    <div style="color: red">
                                        <p>{{login_form.non_field_errors}}</p>
                                    </div>
                                {% endif %}
                                <button class="btn btn-main btn-block" type="submit">Log in</button>
                            </form>
                                <p><a href="#" class="btn text-color">Forgot Password?</a></p>
                                <p><a href="{% url 'register' %}" class="btn text-color">Not a member yet?, Sign Up</a></p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


